@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@800&|Karla');

html {
    height: 100%;
}

body {
    background: #3498db;
    background-image: url("patos.jpg");
    background-size: 33.3%;
    background-repeat: repeat;
    font-family: "Karla", sans-serif;
    color: #2b2b2b;
    font-size: 0.8em;
    overflow: hidden;
    height: 100%;
    margin: 0;
}

#content {
    text-align: center;
    padding: 2em 0;
    background: #fff;
    overflow: auto;
    height: 100%;
}

h1, h2 {
    font-family: "Oxanium", monospace;
    text-transform: uppercase;
}


h1 {
    font-size: 1.5em;
}

.teehee {
    color: #a2a2a2;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

a:link, a:visited {
    color:#3498db;
}

a:active {
    color:#a2a2a2;
}

li {
    list-style-type: none;
    margin-bottom: 0.5em;
}

@media (min-width: 1280px) {
    body {
        font-size: 1.2em;
    }

    h1 {
        font-size: 3em;
    }

    #content {
        margin: 0 341px;
    }
}

